@font-face {
  font-family:"NFT-FONT";
  src:url("https://nftime.vercel.app/_next/static/media/HelveticaNowDisplayMd.e2e7c552.woff2");
}

.st0 {
  fill: white;
}

.st1 {
  font-family: 'NFT-FONT';
}

.st2 {
  font-size: 126px;
}

.st3 {
  letter-spacing: -3;
}

.st4 {
  font-size: 142.0683px;
}

.st5 {
  letter-spacing: -1;
}

.st6 {
  font-size: 142.9732px;
}

.st7 {
  font-size: 138.4487px;
}

.st8 {
  font-size: 360px;
}

.st9 {
  letter-spacing: -9;
}

.st10 {
  font-size: 11px;
}

.st11 {
  fill: none;
  stroke: white;
}

.st12 {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
}

.st13 {
  fill: none;
  stroke: white;
  stroke-width: 1.7;
  stroke-miterlimit: 10;
}

.st14 {
  fill: none;
  stroke: white;
}